$setting-separate: 76vw;

body {
  overflow: hidden;

  #navbar {
    position: relative;
  }

  #filterbar-edge {
    width: $setting-separate;
  }

  #graph {
    z-index: 5;
    position: absolute;

    svg {
      overflow: visible;
      width: 100%;
      height: 100%;
    }
  }

  #setting {
    width: 100vw - $setting-separate;
    z-index: 15;
    position: relative;
    float: right;
    padding-top: 0.02em;
  }

  #timebar {
    height: 20vh;

    .resizer {
      position: absolute;
      top: -5px;
      cursor: row-resize;
      height: 5px;
      left: 0;
      width: 100%;
    }

    #filterbar-group {
      position: absolute;
      top: -4px;
      right: 15px;
    }
  }
}

// Style for Widgets

.node-tooltip,
.edge-tooltip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  text-align: left;
  padding: 2em;
  border-radius: 1em;
  font-weight: bold;
  background-color: gainsboro;
  width: max-content;
}

.node-label {
  text-anchor: middle;
  fill: #b94629;
  font-size: 1em;
  font-weight: bold;
}

.edge-label {
  text-anchor: middle;
  font-size: 0.75em;
  font-weight: bold;
}
