body {
  width: 100vw;
  height: 100vh;
  display: flex;
}

svg {
  overflow: visible;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  width: 25vw;
}

.graph {
  width: 75vw;
  height: 100%;
  display: flex;
}

.single-slider-div {
  margin-bottom: 0.2em;
}

.color-box {
  width: 1em;
  height: 1em;
}

.node-tooltip,
.edge-tooltip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  text-align: left;
  padding: 2em;
  border-radius: 1em;
  font-weight: bold;
  background-color: gainsboro;
}

.node-label {
  text-anchor: middle;
  fill: #b94629;
  font-size: 1em;
  font-weight: bold;
}

.edge-label {
  text-anchor: middle;
  font-size: 0.75em;
  font-weight: bold;
}
