$setting-separate: 76vw;
$timebar-default-height: 20vh;

body {
  overflow: hidden;

  #navbar {
    position: relative;
    margin: -1em;
    padding: 0%;
    margin: 0%;
  }

  #filterbar-edge {
    svg {
      overflow: visible;
      z-index: 10;
      height: 20vh;
      position: relative;
      left: 3vw;
      top: 3vh;
    }
  }

  #graph {
    z-index: 5;
    position: absolute;
    left: 0vw;
    right: 0vw;
    top: 0vh;
    bottom: 0vh;
    svg {
      overflow: visible;
      width: 100%;
      height: 100%;
    }
  }

  $minimap-bottom-border: 2.5px;
  #minimap {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0vw;
    bottom: calc($timebar-default-height + $minimap-bottom-border);
    z-index: 10;
    background: white;
    border: $minimap-bottom-border solid #eeeeee;
  }

  #sidecanvas {
    position: absolute;
    width: 0vw;
    top: 0vh;
    right: 0vw;
    bottom: $timebar-default-height;
    z-index: 15;

    background-color: #eeeeee;

    .resizer {
      position: absolute;
      left: -5px;
      width: 5px;
      height: 100%;
      cursor: col-resize;
    }

    #sidecanvas-content {
      margin: 1em;
    }
  }

  #setting {
    width: 100vw - $setting-separate;
    z-index: 20;
    position: relative;
    float: right;
    padding-top: 0.02em;
  }

  #timebar {
    height: $timebar-default-height;

    .resizer {
      position: absolute;
      top: -5px;
      height: 5px;
      width: 100%;
      cursor: row-resize;
    }

    #filterbar-group {
      position: absolute;
      top: -4px;
      right: 15px;
    }
  }
}

// Prevent text selection in SVG

svg {
  text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

// Style for Widgets

.tooltip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  text-align: left;
  padding: 2em;
  border-radius: 1em;
  font-weight: bold;
  background-color: gainsboro;
  width: 15vw;
  opacity: 0.85;
}

.node-label {
  text-anchor: middle;
  fill: #b93a29;
  font-size: 0.5em;
  font-weight: bold;
}

.edge-label {
  text-anchor: middle;
  font-size: 0.45em;
  font-weight: bold;
}

.legend-label {
  text-anchor: start;
  fill: black;
  font-size: 10px;
  font-weight: bold;
}

.close-btn {
  position: absolute;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  background: red;
}
.close-btn:hover {
  opacity: 1;
}
.close-btn:before,
.close-btn:after {
  position: absolute;
  left: 7px;
  content: " ";
  height: 17px;
  width: 2px;
  background-color: #333;
}
.close-btn:before {
  transform: rotate(45deg);
}
.close-btn:after {
  transform: rotate(-45deg);
}
