#navbar {
  position: relative;
}

#graph {
  z-index: 5;
  position: absolute;
}

#sidebar {
  width: 15vw; /* possibly use max-content */
  z-index: 15;
  position: relative;
  float: right;
  padding-top: 0.02em;
}

svg {
  overflow: visible;
  width: 100%;
  height: 100%;
}

.time-input {
  width: 11em;
  margin: 0 0.5em;
}

.color-box {
  width: 1em;
  height: 1em;
}

.node-tooltip,
.edge-tooltip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  text-align: left;
  padding: 2em;
  border-radius: 1em;
  font-weight: bold;
  background-color: gainsboro;
  width: max-content;
}

.node-label {
  text-anchor: middle;
  fill: #b94629;
  font-size: 1em;
  font-weight: bold;
}

.edge-label {
  text-anchor: middle;
  font-size: 0.75em;
  font-weight: bold;
}

.resizer {
  position: absolute;
  top: -5px;
  cursor: row-resize;
  height: 5px;
  left: 0;
  width: 100%;
}
